-r requirements-base.txt
django_extensions==4.1
factory-boy==3.3.3
gitlint==0.19.1
hypothesis==6.138.2
ipython==9.4.0
pdbpp==0.11.7
pre_commit~=4.3.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
pytest-env==1.1.5
# pytest-factoryboy needs to stay at 2.1.0 because of wrong interpretation of parameters with "__"
pytest-factoryboy==2.1.0
pytest-freezer==0.4.9
pytest-mock==3.14.1
pytest-randomly==3.16.0
python-semantic-release==7.34.6
requests-mock==1.12.1
ruff==0.12.9
snapshottest==0.6.0
werkzeug==3.1.3
