django~=4.2
django-cors-headers>=3.7.0,<=4.7.0
django-environ>=0.10,<=0.11.2
django-filter>=22.1,<=25.1
django-generic-api-permissions==1.0.1
django-localized-fields==6.7
django-postgres-extra==2.0.9
djangorestframework==3.16.1
djangorestframework-jsonapi==8.0.0
gunicorn==23.0.0
mozilla-django-oidc==4.0.1
pyexcel==0.7.0
pyexcel-xlsx==0.6.0
requests==2.32.5
openpyxl==3.0.10 # TODO: dependency of `pyexcel-xlsx` Remove as soon as https://github.com/pyexcel/pyexcel-xlsx/issues/52 is resolved.
