name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set UID
        run: echo "UID=$(id --user)" > .env
      - name: Build the containers
        run: make build
      - name: Lint the code
        run: make lint
      - name: Run test suite
        run: make test
